@font-face {
    font-family: 'jsMath-cmti10';
    src: url('../../fonts/jsmath-cmti10.eot'); /* IE 9 Compatibility Mode */
    src: url('../../fonts/jsmath-cmti10.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('../../fonts/jsmath-cmti10.woff2') format('woff2'), /* Super Modern Browsers */ url('../../fonts/jsmath-cmti10.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('../../fonts/jsmath-cmti10.ttf') format('truetype'), /* Safari, Android, iOS */ url('../../fonts/jsmath-cmti10.svg#jsmath-cmti10') format('svg'); /* Chrome < 4, Legacy iOS */
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Button {
    width: 250px;
    height: 45px;
    margin-top: 15px;
    margin-left: 75px;
    background: #86D5C7;
    border-radius: 15px;
}

.MainButton{
    margin-top: 150px;
    margin-right: 60px;
    background-color: #EAFEF7;
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-radius: px;*/
    border: 10px ridge #86D5C7;
}

.btn{
    width: 300px;
    height: 140px;
    margin: 0 5px;
    border-radius: 10px;
    background-color: #86D5C7;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 24px;
}

.Input {
    width: 373px;
    height: 50px;
    margin: 10px 0;
}


#paperStyle {
    padding: 10px 20px 20px 20px;
    width: 390px;
    height: 350px;
    margin-top: 130px;
    margin-right: 60px;
    text-align: center;
    background: #EAFEF7;
}

.header {
    margin-top: 28px;
    font-family: "jsMath-cmti10", cursive;
    /*font-size: 40px;*/
    font-style: italic;
    font-weight: 500;
    font-size: 35px;
    line-height: 39px;
}

.Error {
    color: rgba(200, 12, 8, 0.76);
    margin-bottom: 0;
}