.Header {
    height: 88px;
    background: #86D5C7;
    display: flex;
    justify-content: space-between;
}

#Icon{
    width: 78px;
    height: 72px;
    margin-left: 31px;
    margin-top: 8px;
    border-radius: 5px;

    color: #DD1B1B;
    background: #f5f0f0;
}

.Button{
    width: 100px;
    height: 33px;
    background: #86D5C7;
    border: 1px dashed #197252;
    border-radius: 5px;
    font-size: 23px;
    font-family: 'Kadwa', serif;
    font-style: normal;
    font-weight: 700;
    color: #423e3e;
    margin: 28px 55px 0 0;
}
